@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Rock+Salt&display=swap');

body {
    background-color: #D4EFDF;
}

h1 {
    font-family: 'Rock Salt', cursive, sans-serif;
    padding: 20px;
    color: white;
    text-shadow: 2px 2px #006400;
}

h2, h3, h4, p {
    font-family: 'Gloria Hallelujah', cursive, sans-serif;
    padding: 10px;
    color: white;
    text-shadow: 2px 2px #006400;
}

main {
    display: flex;
    text-align: center;
    background: url('public/blackspace.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: whitesmoke;
}

.auth {
    // this is all of the auth forms
    // float: left;
    // clear: right;
    // overflow: hidden;
    display: flex;
    // background: url('public/tp.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #6B8E23;
    font-family: 'Rock Salt', cursive, sans-serif;
    border-style: outset;
    border-color: #D4EFDF;
    // position: fixed;
    // top: 0;
    // width: 100%;
}

.board {
    margin: auto;
    // height: 100%;
    background: url('public/coronavirus.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: calc(100vh - 75px);
    max-width: calc(100vh - 75px);
}
.container {
    height: 100vh;
}

.cell {
    // add a solid black line to the right of each cell, so we have lines between columns
    border-right: 2px solid #333;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: calc(100% / 3);
    max-width: calc(100% / 3);
    min-height: calc(100% / 3);
    min-width: calc(100% / 3);

    background-color: white;
    color: white;

    text-shadow: 2px 2px rgba (0, 0, 0, .25);
    font-family: 'Rock Salt', cursive, sans-serif;
    font-size: 10vh;
    user-select: none;

    &:hover {
        background-color: lightgreen;
    }

    cursor: pointer;

    // selected the 3 right boxes and nth child selected elements based on their position
    // 3n selects every 3rd 'cell'
    &:nth-child(3n) {
        border-right: 0;
    }
    // select the last 3 elements
    &:nth-last-child(-1n + 3){
        border-bottom: 0;
    }
}

*, *:before, *:after {
    box-sizing: border-box;
}

input {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 10px 0;
    border: #006400;
    box-shadow: #006400;
    border-radius: inherit;
    font-family: 'Rock Salt', cursive, sans-serif;
    width: min-content;
}

button {
    font-family: 'Rock Salt', cursive, sans-serif;
    padding: 10px;
}

#landing-page {
    background: url('public/corona-world.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}